* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/KPRIET.fd66c253.jpg);
  background-size: cover;
}
.nav {
  display: inline-flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
}
.sec1 {
  text-align: end;
  flex-basis: 90%;
}
.title {
  font-size: 2rem;
  color: white;
}
.sec2 {
  display: grid;
  flex-basis: 35%;
  justify-content: flex-end;
  margin-right: 30px;
  flex-direction: column;
}
.sec2 img {
  justify-self: flex-end;
  border-radius: 50%;
  width: 3rem;
}
.logout {
  position: absolute;
  right: 15px;
  top: 70px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-weight: bold;
}
.mainflex {
  display: flex;
  height: 70%;
  margin-top: 3.6rem;
  gap: 5rem;
}
.sidenav {
  margin-left: 1rem;
  flex-basis: 20%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.sn {
  width: 200px;
  height: 50px;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
}
.sn p {
  margin-top: 10px;
}
.main-section {
  position: relative;
  flex-basis: 80%;
  margin-right: 40px;
}
.dashboard {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
.add-edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mt table {
  border-collapse: collapse;
  width: 100%;
}

.mt th,
.mt td {
  border: 1px solid black;
  padding: 8px;
}

.mt .attendance-info {
  display: flex;
  justify-content: space-between;
}

.mt .attendance-info > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.mt .attendance-info span:first-child {
  font-weight: bold;
}

.mt .forenoon,
.mt .afternoon {
  border-right: 1px solid black;
}

.mt .forenoon span,
.mt .afternoon span {
  display: block;
  margin-bottom: 5px;
}
