<div class="main">
  <nav class="nav">
    <div class="sec1">
      <span class="title">Attendance Management ({{ username }})</span>
    </div>
    <div class="sec2">
      <img [src]="url" alt="" (click)="toggleLogout()" />
    </div>
  </nav>
  <button *ngIf="showLogout" class="logout" (click)="logout()">LogOut</button>
  <div class="mainflex">
    <div class="sidenav">
      <div class="sn" (click)="toggleDash()">
        <p>Dashboard</p>
      </div>
      <div class="sn" (click)="toggleae()"><p>Add/Edit Profile</p></div>
      <div class="sn"><p>Dashboard</p></div>
    </div>
    <div class="main-section">
      <div class="dashboard" *ngIf="showDash">
        <p
          style="
            text-align: center;
            justify-self: center;
            font-style: Roboto;
            font-size: 20px;
            font-weight: 500;
            margin-left: 50px;
            margin-top: 20px;
            color: whitesmoke;
          "
        >
          Attendance for Today {{ formattedDate }}
        </p>

        <div
          class="fields"
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <mat-form-field style="margin-top: 15px">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
              [min]="minDate"
              [max]="maxDate"
              (dateChange)="onDateSelected($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="getattendance()">
            Submit
          </button>
        </div>
        <div
          style="display: flex; justify-content: center; gap: 2rem"
          *ngIf="showTable"
        >
          <mat-form-field>
            <input
              matInput
              (keyup)="Filterchange($event)"
              placeholder="Enter the text"
            />
          </mat-form-field>
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 1rem;
              color: whitesmoke;
              font-weight: 400;
            "
          >
            <div>
              <p>Total Number of Students : {{ attendance_data[0].total }}</p>
            </div>
            <div style="display: flex; gap: 1rem">
              <p>Present - FN: {{ attendance_data[0].fnp }}</p>
              <p>Absent - FN: {{ attendance_data[0].fna }}</p>
              <p>On Duty: - FN:{{ attendance_data[0].fond }}</p>
            </div>
            <div style="display: flex; gap: 1rem">
              <p>Present - AN: {{ attendance_data[0].anp }}</p>
              <p>Absent - AN: {{ attendance_data[0].ana }}</p>
              <p>On Duty: - AN:{{ attendance_data[0].aond }}</p>
            </div>
          </div>
        </div>
        <div
          *ngIf="showTable"
          style="width: 100%; height: 100%; overflow: auto"
        >
          <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Name of the Student">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Register Number">
              <mat-header-cell *matHeaderCellDef>Reg No</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.reg_no }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Forenoon">
              <mat-header-cell *matHeaderCellDef style="width: 800px">
                <mat-checkbox (change)="masterToggle('forenoon', $event)">
                  Forenoon
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" flex>
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="checkboxChanged('forenoon', row, $event)"
                  [checked]="row.forenoon"
                >
                  {{ row.forenoon ? "Present" : "Absent" }}
                </mat-checkbox>
                <ng-container>
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="checkboxChanged('onduty_forenoon', row, $event)"
                    [checked]="row.onduty_forenoon"
                  >
                    On Duty
                  </mat-checkbox>
                </ng-container>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Afternoon">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="masterToggle('afternoon', $event)"
                >
                  Afternoon
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" flex>
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="checkboxChanged('afternoon', row, $event)"
                  [checked]="row.afternoon"
                >
                  {{ row.afternoon ? "Present" : "Absent" }}
                </mat-checkbox>
                <ng-container>
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="checkboxChanged('onduty_afternoon', row, $event)"
                    [checked]="row.onduty_afternoon"
                  >
                    On Duty
                  </mat-checkbox>
                </ng-container>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>

        <mat-paginator
          *ngIf="showTable"
          [pageSizeOptions]="[5, 10, 20, 40, 60]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <!-- ADD EDIT SECTION -->
      <div class="add-edit" *ngIf="showae">
        <div style="display: flex; flex-direction: column; gap: 2rem">
          <div
            style="
              display: flex;
              gap: 1rem;
              align-items: center;
              justify-content: center;
            "
          >
            <mat-form-field style="margin-top: 20px">
              <mat-label>Select Date Type</mat-label>
              <mat-select [(ngModel)]="dateType" (click)="onAttSel()">
                <mat-option value="month">Month</mat-option>
                <mat-option value="day">Day</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="dateType === 'month'">
              <app-month-calender></app-month-calender>
            </div>

            <div *ngIf="dateType === 'day'">
              <mat-form-field style="margin-top: 20px; margin-right: 10px">
                <mat-label>Start date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControl]="startDate"
                />

                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="margin-top: 20px; margin-right: 10px">
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker1"
                  [formControl]="endDate"
                />

                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <button mat-raised-button color="accent" (click)="onSelect()">
              Submit
            </button>
          </div>

          <!-- MONTH TABLE -->
          <div
            *ngIf="showmt"
            style="width: 1000px; height: 100%; overflow: auto"
            class="mt"
            #TABLE
          >
            <button
              mat-raised-button
              color="primary"
              (click)="exporter.exportTable('xlsx')"
            >
              Export as Excel
            </button>
            <mat-table
              [dataSource]="attendancedataSource"
              class="mat-elevation-z8"
              style="
                text-align: center;
                width: 100%;
                height: 65vh;
                overflow: auto;
              "
              id="table"
              matTableExporter
              #table
              #exporter="matTableExporter"
            >
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <mat-header-cell
                  *matHeaderCellDef
                  style="
                    text-align: center;
                    justify-content: center;
                    width: 100px;
                  "
                >
                  Name
                </mat-header-cell>
                <mat-cell
                  style="text-align: center; justify-content: center"
                  *matCellDef="let element"
                >
                  {{ element.name }}
                </mat-cell>
              </ng-container>

              <!-- Register Number Column -->
              <ng-container matColumnDef="Register Number">
                <mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; justify-content: center"
                >
                  Register Number
                </mat-header-cell>
                <mat-cell
                  mat-cell
                  *matCellDef="let element"
                  style="text-align: center; justify-content: center"
                >
                  {{ element.RegisterNumber }}
                </mat-cell>
              </ng-container>

              <!-- Month Columns -->
              <ng-container *ngFor="let month of months" [matColumnDef]="month">
                <mat-header-cell
                  *matHeaderCellDef
                  style="
                    text-align: center;
                    justify-content: center;
                    width: 300% !important;
                  "
                >
                  {{ month }}
                </mat-header-cell>
                <mat-cell
                  class="matcell"
                  *matCellDef="let element"
                  style="
                    text-align: center;
                    justify-content: center;
                    width: 300%;
                  "
                >
                  <table>
                    <thead>
                      <tr>
                        <th colspan="3">Forenoon</th>
                        <th colspan="3">Afernoon</th>
                      </tr>
                      <tr>
                        <th>Present</th>
                        <th>Absent</th>
                        <th style="white-space: nowrap">On-Duty</th>
                        <th>Present</th>
                        <th>Absent</th>
                        <th>On-Duty</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ element[month]?.forenoon?.present || 0 }}</td>
                        <td>{{ element[month]?.forenoon?.absent || 0 }}</td>
                        <td>{{ element[month]?.forenoon?.onduty || 0 }}</td>
                        <td>{{ element[month]?.afternoon?.present || 0 }}</td>
                        <td>{{ element[month]?.afternoon?.absent || 0 }}</td>
                        <td>{{ element[month]?.afternoon?.onduty || 0 }}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Cumulative Present">
                <mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; justify-content: center"
                >
                  Cumulative Present
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  style="text-align: center; justify-content: center"
                >
                  <span> {{ element.total_present }}</span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Cumulative Absent">
                <mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; justify-content: center"
                >
                  Cumulative Absent
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  style="text-align: center; justify-content: center"
                >
                  <span> {{ element.total_absent }}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Cumulative On_Duty">
                <mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; justify-content: center"
                >
                  Cumulative On Duty
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  style="text-align: center; justify-content: center"
                >
                  <span> {{ element.total_onduty }}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Cumulative Percentage">
                <mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; justify-content: center"
                >
                  Cumulative Percentage
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  style="text-align: center; justify-content: center"
                >
                  <span> {{ element.percentage }}</span>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="columns"
                [style.width]="getTableWidth()"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: columns"
                [style.width]="getTableWidth()"
              ></mat-row>
            </mat-table>
          </div>
          <!-- DAY TABLE -->
          <div
            *ngIf="showdt"
            style="width: 100%; height: 100%; overflow: auto"
            class="mt"
          >
            <table
              mat-table
              [dataSource]="daywisedataSource"
              class="mat-elevation-z8"
              style="overflow-x: auto; overflow-y: auto"
            >
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; width: 500px"
                >
                  Name
                </th>
                <td
                  style="text-align: center; width: 500px"
                  *matCellDef="let element"
                >
                  {{ element.name }}
                </td>
              </ng-container>

              <!-- Register Number Column -->
              <ng-container matColumnDef="Register Number">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; width: 500px"
                >
                  Register Number
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="text-align: center; width: 500px"
                >
                  {{ element.RegisterNumber }}
                </td>
              </ng-container>

              <!-- Day Columns -->
              <ng-container *ngFor="let date of ddates" [matColumnDef]="date">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="text-align: center; width: 500px"
                >
                  {{ date }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="text-align: center; white-space: nowrap"
                >
                  <div>
                    <span>Forenoon : {{ element[date].forenoon }} </span>
                  </div>
                  <div>
                    <span>Afternoon : {{ element[date].afternoon }}</span>
                  </div>
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="Cumulative">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="text-align: center; width: 500px"
              >
                Cumulative
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="text-align: center; width: 500px"
              >
                <div class="forenoon">
                  <span>Total Present: {{ element.total_present }}</span>
                  <span>Total Absent: {{ element.total_absent }}</span>
                  <span>Total On duty: {{ element.total_onduty }}</span>
                  <span>Percentage: {{ element.percentage }}</span>
                </div>
              </td>
            </ng-container> -->

              <!-- Column to fill the remaining space -->
              <!-- <ng-container matColumnDef="filler">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="columns.length - months.length - 2"
            ></td>
          </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="dcolumns"></tr>
              <tr mat-row *matRowDef="let row; columns: dcolumns"></tr>
            </table>
          </div>
          <div>
            <mat-paginator
              *ngIf="showdt || showmt"
              [pageSizeOptions]="[5, 10, 20, 40, 60]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
