* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/KPRIET.fd66c253.jpg);
  background-size: cover;
}
.nav {
  display: inline-flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
}
.sec1 {
  text-align: end;
  flex-basis: 90%;
}
.title {
  font-size: 2rem;
  color: white;
}
.sec2 {
  display: grid;
  flex-basis: 35%;
  justify-content: flex-end;
  margin-right: 30px;
  flex-direction: column;
}
.sec2 img {
  justify-self: flex-end;
  border-radius: 50%;
  width: 3rem;
}
