<div class="container">
  <div class="mainc">
    <h1 style="margin-top: 50px">
      KPR INSTITUTE OF ENGINEERING AND TECHNOLOGY
    </h1>
    <h2 class="dept">DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</h2>

    <h2>Attendance Portal</h2>
    <div class="img">
      <img src="../assets/KPRIET.fd66c253.jpg" width="500rem" />
      <div>
        <asl-google-signin-button
          type="standard"
          size="medium"
          class="btn"
        ></asl-google-signin-button>
      </div>
      <!-- <div class="btns" (click)="Login()"></div> -->
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
